
body
{

	background-image: url("bg.png") ;
	background-size: cover;

}

h1
{

	text-shadow: 1px 1px white ;

}

.menu div
{

	display: inline-block;
	padding:25px 0px;
	
}

.menu
{

	background-color: skyblue;
	border: solid;
	text-align: center;
}

.menu div:hover
{
	background-color: lightgreen;
}

.menu div a
{
   color: darkred;
   font-weight: bolder;
   text-decoration: none;

}
.blink
{
	animation:blinker 3s linear infinite;		
	
}
@keyframes blinker
{
	50%{
		opacity: 0;
	}
}

.row div
{
	display:inline-block;
}
